<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-500">
      {{id}}
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 h-10 w-10">
        <img class="h-10 w-10 rounded-full" src="/images/avatar.svg" alt="" />
      </div>
      <div class="ml-4">
        <div class="text-sm font-medium text-gray-900">
          {{name}}
        </div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-gray-500">
    {{formatTime created}}
    {{formatDate created}}
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    ${{centsToDollars amount}}
  </td>
</tr>
